/*Top Bar (login, search etc.)
------------------------------------*/
.top {
	/*padding:7px 0 8px;*/
    background-color: #747474;
    color: #ffffff;
}

.top .contact {
    line-height: 30px;
    font-size: 11px;
}
.top .submenu {
    text-align: right;
}

@media (max-width: 767px) {
    .top .contact,
    .top .submenu {
        text-align: center;
    }
    .top .contact {
        line-height: 20px;
        font-size: 11px;
        background-color: #3F3F3F;
    }
    .loginbar > li a {

    }
}

.loginbar {
	margin:0;
	padding:0;
	z-index:9999;
	list-style:none;
	position:relative;
    display: inline-block;
}

.loginbar > li a {
    display: inline-block;
    line-height: 30px;
    padding: 0 10px;
    height: 30px;
}

.loginbar li {
	display:inline;
	list-style:none;
	padding-bottom:15px;
    text-align: left;
}

.loginbar li a, 
.loginbar li a:hover {
	color: #ffffff;
	font-size:11px;
    /*padding: 5px;*/
}

.loginbar li a:hover {
    background-color: #3F3F3F;
}

.loginbar i {
	color:#747474;
	font-size:18px;
	margin-top:3px;
	cursor:pointer;
}

/*Lenguages*/
.loginbar li ul { 
	top:30px; 
	margin:0;
	display:none; 
	padding-top:4px;
	position:absolute;
	padding-bottom:4px;
	background:#ffffff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.loginbar li:hover ul { 
	display:block; 
}

.loginbar li ul li { 
	padding-bottom:0;
	display:list-item;
	position:relative;
	margin-bottom:1px;
}

.loginbar li ul li a { 
	color:#555;
	display:block;
	min-width:85px; 
	font-size:12px;
	padding:2px 12px;
	background:#ffffff;
	text-decoration:none;
    line-height: 20px;
    height: auto;
}

.loginbar li ul li a:hover, 
.loginbar li ul li.active a {
	opacity:1 !important;
	color:#555 !important;
	font-size:12px !important;
	text-shadow:none !important;
	background:#fafafa !important;
}

.loginbar li ul li.active i {
	top: 4px;
	right: 5px;
	font-size:14px;
	cursor:default;
	position:absolute;
	text-shadow:0 1px 0 #e9e9e9;
}

.loginbar i.icon-globe {
	color:#bbb;
	font-size:13px;
	margin:3px 3px 0 0;
}

.loginbar li i.icon-sort-up {
	top:21px; 
	left:-1px;
	color:#ffffff;
	display:none;
	font-size:14px;
	cursor:default;
	position:absolute;
}

.loginbar li:hover i.icon-sort-up {
	display:block;
}

.loginbar li:hover i.icon-ok {
	top:-2px;
	color:#aaa;
}

/*Header (logo and menu)
------------------------------------*/
.header {
	z-index:999;
	position:relative;
    /*padding-top: 10px;*/
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.header .container {
	position:relative;
}

.logo {
	/*position:absolute;*/
	/*top:-5px;*/
	/*left:0;*/
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*Menu*/
.header .navbar {
    margin-bottom: 0;
    min-height: 20px;
    margin-bottom: -1px;
}

.header .navbar-collapse.navbar-right {
    margin-top: 14px;
    padding-right: 0;
    margin-right: -15px;
}
@media (max-width: 767px) {
    .header .navbar-collapse.navbar-right {
        padding-left: 0;
    }
}

.navbar-inner {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.navbar .nav > li { 
	display:block; 
	position:relative;
    margin-right: 3px;
    padding-bottom: 5px;
}
.header .navbar .nav > li > a {
	display:block;
    text-transform: uppercase;
    font-size:13px;
    font-weight:400;
    color: #687074;
    text-shadow:none;
    padding:5px 15px;
	/*border-bottom:solid 3px transparent;*/
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

@media (max-width: 991px) {
    .header .navbar .nav > li > a {
        font-size:12px;
        padding:9px 15px;
    }
}

.collapse.in ul { 
	margin-top:10px !important;
}

.collapse.in li a { 
	padding:0 10px;
	border-bottom:solid 1px #eee;
	background:none;
}

.collapse.in li a:hover,
.collapse.in li a.dropdown-toggle { 
	border-bottom:solid 1px #FF8400 !important;
	background:none;
}

.collapse.in ul.dropdown-menu {
	margin-bottom:5px;
}

.collapse.in ul.dropdown-menu a {
	padding:5px;
	border-bottom:solid 1px #bbb; 
}

.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	margin:0 !important;
	border-radius:0 !important;
}

.header .nav > li > a:hover {

}

.header .navbar .nav > li > a:focus,
.header .navbar .nav > li > a:hover {
  	/*color:#72c02c;*/
	/*border-bottom:solid 3px #3F3F3F;*/
    background-color: #747474;
    color: #ffffff;
}

.header .navbar .nav > .active > a,
.header .navbar .nav > .active > a:focus,
.header .navbar .nav > .active > a:hover {
  	color:#ffffff;
	background-color: #FF8400;
}

/*Arrow for menu*/
.header .navbar .nav > li > a .caret {
  margin:0 !important;
  border-top-color: #747474 !important;
  border-bottom-color: #747474 !important;
}

.header .navbar .nav > li.active > a > .caret,
.header .navbar .nav > li.active:hover > a > .caret,
.header .navbar .nav > li > a:hover .caret {
    border-top-color: #ffffff !important;
    border-bottom-color: #ffffff !important;
}

/*Dropdown Menu*/
.dropdown-menu { 
	padding:10px 0;
	border:none;
	margin-top:-2px; 
	min-width:200px;
	border-radius:0;
	z-index: 9999 !important;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.dropdown-menu li a { 
	color:#3F3F3F;
	font-size:12px;
	font-weight:400; 
	padding:6px 15px; 
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color:#3F3F3F;
  background:#EBEBEB !important;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
	filter:none !important;
}

.dropdown-menu .active > a {
	color:#ffffff !important;
  	background:#687074 !important;
	filter:none !important;
}
.dropdown-menu .active:hover > a {
    color:#FF8400 !important;
}

.navbar .btn-navbar {
	padding:10px 15px;
	margin-top:1px;
	margin-right:0;
	background:#72c02c;
	border:none !important;	
}
.navbar .btn-navbar:hover {
	background:#5fb611;
}
.navbar .btn-navbar span, 
.navbar .btn-navbar:hover span { 
	background:#fff !important;
	box-shadow:none !important;
}

.navbar .nav > li > .dropdown-menu:after {
	left:19px;
}
.navbar .nav > li > .dropdown-menu:before {
	left:18px;
	border-bottom:none;
}
.navbar .nav > li > .dropdown-menu:after {
	left:19px;
	border-top-color: #72c02c !important;
	border-bottom-color: #72c02c !important;
}

/*Serach*/
.navbar .search-open {
	right:0; 
	top:41px;
	display:none;
	padding:15px; 
	position:absolute; 
	background:#fcfcfc; 
	/*border-top:solid 2px #eee;*/
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
    .navbar .search-open {
        top: auto;
        bottom: 1px;
        background: transparent;
        border: none;
        padding: 11px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

.header .navbar .search-open form,
.header .navbar .search-open .input-append {
	margin:0 !important;	
}

.header .navbar a.search i.icon-remove {
	top:2px;
	font-size:17px;
	position:relative;
}

.header .navbar .nav > li > a.search {
	color:#aaa;
	cursor:pointer;
	background:transparent;
	padding:4px 12px 5px;
    width: 15px;
	border-bottom-color:#aaa;
}
.header .navbar .nav > li > a.search .icon-remove {
    line-height: 1;
}
@media (max-width: 767px) {
    .header .navbar .nav > li > a.search i {
        display: block;
        width: 18px;
        line-height: 18px;
        font-size: 18px;
        height: 18px;
        text-align: center;
    }
    .header .navbar .nav > li > a.search .icon-search {
        font-size: 14px;
        line-height: 23px;
    }
    .header .navbar .nav > li > a.search .icon-remove {
    }
    .header .navbar .nav > li > a.search:hover {
        color:#FF8400;
        border-bottom-color:#FF8400;
    }
}

/*Fancybox for gallery page*/
.fancybox-overlay.fancybox-overlay-fixed {
	z-index:9999;
}

.header .navbar-toggle {
    border: 1px solid #dddddd;
}
.header .navbar-toggle:hover {
    background-color: #dddddd;
}
.header .navbar-toggle .icon-bar {
    background-color: #cccccc;
}
@media (max-width: 767px) {
    .navbar-nav {
        margin-left: 0;
        margin-right: 0;
    }
}
